include ../../../node_modules/bemto.pug/bemto
- set_bemto_settings({ modifier: '--' })

include ../_partials/head
include ../blocks/modal

include ../blocks/logo
include ../blocks/burger
include ../blocks/close

include ../blocks/header
include ../blocks/hero
include ../blocks/about
include ../blocks/product
include ../blocks/production
include ../blocks/certificates
include ../blocks/catalogs
include ../blocks/leftovers
include ../blocks/objects
include ../blocks/contacts

block variables
doctype html
html(lang='ru')
  +head()
  body
    unless debug === false
      include ../_partials/debug
    div.app
      block header
      block body
      block footer
    +modal()
    include ../_partials/scripts
