mixin about
  +b.SECTION.about.section#about
    +e.container.container
      +e.H2.title.title О Компании
      +e.P.text
        b KMC CORPORATION&nbsp;
        | &ndash; это один из самых крупных и высокотехнологичных производителей запорной арматуры в Южной Корее, опыт работы уже более 30 лет.
      //- +e.UL.list
      //-   +e.item
      //-     b Головной офис и завод:
      //-     span 56 тыс. кв. м: 89, Heukseok-ro, Ganam-eup, Yeoju-city, Kyounggi-do, South Korea, 336-831
      //-   +e.item
      //-     b Tel:
      //-     span +82-31-881-2013
      //-   +e.item
      //-     b Fax:
      //-     span +82-31-881-2014
      //-   +e.item
      //-     b Второй завод:
      //-     span 33 тыс. кв. м: 1026, Inju Industrial Complex, Asan-city, Choongchungnam-do, South Korea, 336-831
      //-   +e.item
      //-     b Tel:
      //-     span +82-41-534-2347
      //-   +e.item
      //-     b Fax:
      //-     span +82-41-534-2348
      //-   +e.item
      //-     b Дата учреждения:
      //-     span 15 августа 1984&nbsp;г.
      //-   +e.item
      //-     b Президент:
      //-     span Chang-moo, Jung
      //-   +e.item
      //-     b Уставной капитал:
      //-     span US $26 000 000
      //-   +e.item
      //-     b Численность сотрудников:
      //-     span 105
      //-   +e.item
      //-     b Годовой оборот:
      //-     span US $70 000 000
      //-   +e.item
      //-     b Основной банк:
      //-     span Industrial Bank of Korea
      
      +e.P.text Дата учреждения компании : август 1984 года

      +e.H4.subtitle Основной продукцией является:
      +e.UL.list.--doted
        +e.item краны шаровые KMC для систем теплоснабжения;
        +e.item краны шаровые KMC для газовой отрасли;
        +e.item краны шаровые KMC для нефтеперерабатывающей и химической отрасли.
      
      +e.P.text Управление на шаровых кранах ручное (ручка-редуктор). По желанию Заказчика возможна комплектация электроприводом /пневмоприводом.  
      +e.P.text Шаровые краны КМС Corporation (Южная Корея) являются наиболее выгодным решением ввиду соотношения цена-качество продукции, проверенной временем среди аналогичного оборудования.


      //-+e.P.text &laquo;КМС Corporation&raquo; (Южная Корея) &ndash; лидирующий мировой производитель шаровых кранов с классом герметичности &laquo;А&raquo;, диаметрами от 15 до 1400 мм и давлением от 16 до 420 кг/см2, широким диапазоном рабочих сред &ndash; как традиционных (вода, газы, нефтепродукты), так и специальных (в том числе агрессивных) с температурой от минус 196 до плюс 540 градусов. Шаровые краны КМС серийно изготавливаются в различных исполнениях корпуса (цельносварные, разборные, с верхней загрузкой шара), патрубков (приварка, фланец, резьба, муфта) и типов уплотнений (полимеры, металл, композит). Краны могут оснащаться любыми современными приводами со стандартом фланца ISO.
      //-+e.P.text В настоящее время шаровые краны КМС производятся на двух ультрасовременных высокотехнологичных заводах, расположенных на территории Южной Кореи. Компания КМС Corporation уже более 30 лет является производителем продукции высочайшего качества, признанного ее заказчиками &ndash; мировыми лидерами теплоснабжающих, газовых и нефтехимической отраслей.
      //-+e.P.text Трубопроводная арматура, производимая заводом KMC Corporation, отличается высокой эффективностью, надежностью и безопасностью. Шаровые краны и дископоворотные затворы KMC соответствуют требованиям российского законодательства, предъявляемым к промышленной трубопроводной арматуре, предназначенной для эксплуатации в производствах с повышенной опасностью, и используются в качестве запорной арматуры в теплоэнергетике, химической и нефтехимической промышленности.
      //-+e.P.text Сегодня запорная арматура КМС &ndash; по соотношению цена/качество является наилучшим решением на рынке Украины среди аналогичного импортного оборудования. Несмотря на многообразие отечественных изделий внешне и по своей маркировке похожих на продукцию КМС &ndash; в Украине шаровые краны и дископоворотные затворы с качеством аналогичным качеству КМС не производятся.
      //-+e.P.text
      //-  b Основной продукцией является:
      //-+e.UL.list
      //-  +e.item краны шаровые KMC для систем теплоснабжения;
      //-  +e.item краны шаровые KMC для газовой отрасли;
      //-  +e.item краны шаровые KMC для нефтеперерабатывающей и химической отрасли.
