mixin certificates
  +b.SECTION.certificates.section#certificates
    +e.container.container
      +e.H2.title.title СЕРТИФИКАТЫ
      +e.P.text Вся линейка шаровых кранов KMC Corporation имеет сертификат соответствия ТР ТС 010/2011 и ТР ТС 032/2013. Кроме того, краны имеют международные сертификаты: TUV №1210015083TMS на соответствие требованиям стандарта DIN EN ISO 9001:2000
      +e.UL.list
        +e.item: +e.IMG.img(src="assets/img/certificates/conformity-certificate-thumb.jpg", alt="Сертификат соответствия")
        +e.item: +e.IMG.img(src="assets/img/certificates/warranty-certificate-thumb.jpg", alt="Гарантийный Сертификат")
