mixin certificates
  +b.SECTION.certificates#certificates
    +e.container.container
      +e.H2.title.title СЕРТИФИКАТЫ
        +e.UL.list
          +e.item: +e.IMG.img(src="assets/img/certificates/conformity-certificate-thumb.jpg", alt="Сертификат соответствия")
          +e.item: +e.IMG.img(src="assets/img/certificates/warranty-certificate-thumb.jpg", alt="Гарантийный Сертификат")
