mixin contacts
  +b.SECTION.contacts.section#contacts
    +e.container.container
      +e.H2.title.title КОНТАКТЫ
      +e.row
        +e.col
          +logo({"class": "__logo"})
          //-+e.H3.caption KMC Corporation Украина
          +e.UL.list
            +e.item Завод-изготовитель
            +e.item KMC Corporation
            +e.item Юридический и фактический адрес:
            +e.item 336831, Южная Корея, Yeoju-city, Heukseok-ro, 89
            +e.item: +e.A.link(href="#") +82 (31) 881-20-13
            +e.item: +e.A.link(href="#") kmc_ru@kmcvalve.co.kr
            +e.item: +e.A.link(href="#") www.kmcvalve.co.kr
        +e.col
          +e.map#map(data-lat="37.198389", data-lng="127.566768")
