mixin contacts
  +b.SECTION.contacts#contacts
    +e.container.container
      +e.H2.title.title КОНТАКТЫ
      +e.row
        +e.col
          +e.H3.caption KMC Corporation Украина
          +e.Ul.list
            +e.item Украина, г. Киев
            +e.item: +e.A.link(href="#") +380 000 00 00
            +e.item: +e.A.link(href="#") email.kmc@ua
            +e.item: +e.A.link(href="#") http://kmc.ua
        +e.col
