mixin hero
  +b.SECTION.hero.section#main
    +e.slider
      +e.track(class="glide__track", data-glide-el="track")
        +e.slides(class="glide__slides")
          +e.slide(class="glide__slide", style="background-image: url('assets/img/hero/hero-slide-1.jpg')")
            +e.inner
              +e.H2.title Газовая промышленность
          +e.slide(class="glide__slide", style="background-image: url('assets/img/hero/hero-slide-2.jpg')")
            +e.inner
              +e.H2.title Индивидуальный тепловой пункт
          +e.slide(class="glide__slide", style="background-image: url('assets/img/hero/hero-slide-3.jpg')")
            +e.inner
              +e.H2.title Нефтяная промышленность
          +e.slide(class="glide__slide", style="background-image: url('assets/img/hero/hero-slide-4.jpg')")
            +e.inner
              +e.H2.title Теплоэлектроцентрали
