mixin leftovers
  +b.SECTION.leftovers.section#leftovers
    +e.container.container
      +e.H2.title.title ОСТАТКИ НА СКЛАДЕ
      +e.wrap
        +e.TABLE.table
          +e.THEAD.thead
            +e.TR.trow
              +e.TH.cell.--head Диаметр
              +e.TH.cell.--head Управление
              +e.TH.cell.--head Стандартный проход, шт.
              +e.TH.cell.--head Полный проход, шт.
              +e.TH.cell.--head среда
          +e.TBODY.tbody
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
            +e.TR.trow
              +e.TD.cell Ду15
              +e.TD.cell ручка
              +e.TD.cell 222
              +e.TD.cell 50
              +e.TD.cell вода
