mixin production
  +b.SECTION.production#production
    +e.container.container
      +e.H2.title.title ПРОДУКЦИЯ
      +e.UL.list
        +e.item
          +product({
            "cap": "Краны шаровые вода",
            "type": "для теплоснабжения",
            "src": "DU15-200",
            "desc": "Высоконадежные шаровые краны для нефте- и газодобывающих отраслей, химической и атомной промышленности.",
            "href": "#"
          })
        +e.item
          +product({
            "cap": "Краны шаровые вода",
            "type": "для теплоснабжения",
            "src": "DU15-200",
            "desc": "Высоконадежные шаровые краны для нефте- и газодобывающих отраслей, химической и атомной промышленности.",
            "href": "#"
          })
        +e.item
          +product({
            "cap": "Краны шаровые вода",
            "type": "для теплоснабжения",
            "src": "DU15-200",
            "desc": "Высоконадежные шаровые краны для нефте- и газодобывающих отраслей, химической и атомной промышленности.",
            "href": "#"
          })

