mixin production
  +b.SECTION.production.section.--bg#production
    +e.container.container
      +e.H2.title.title ПРОДУКЦИЯ
      +e.P.text &laquo;КМС Corporation&raquo; &ndash; лидирующий мировой производитель шаровых кранов с классом герметичности &laquo;А&raquo;, диаметрами от 15 до 1400 мм и давлением от 16 до 420 кг/см2, широким диапазоном рабочих сред &ndash; как традиционных (вода, газы, нефтепродукты), так и специальных (в том числе агрессивных) с температурой от минус 196 до плюс 540 градусов. Шаровые краны КМС серийно изготавливаются в различных исполнениях корпуса (цельносварные, разборные, с верхней загрузкой шара), патрубков (приварка, фланец, резьба, муфта) и типов уплотнений (полимеры, металл, композит). Краны могут оснащаться любыми современными приводами со стандартом фланца ISO.
      +e.UL.list
        +e.item
          +product({
            "class": "",
            "level": "top",
            "anchor": "heating-valves.html",
            "caption": "Шаровые краны",
            "src": "DU15-200"
          })
        +e.item
          +product({
            "class": "--tall",
            "level": "top",
            "anchor": "#",
            "caption": "Затворы дисковые",
            "src": "BFV"
          })

        //-+e.item
        //-  +product({
        //-    "class": "",
        //-    "caption": "Кран шаровой ПП Ду15-200",
        //-    "type": "под приварку",
        //-    "src": "DU15-200",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "15-200"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "--tall",
        //-    "caption": "Кран шаровой ПП Ду250-1400",
        //-    "type": "под приварку",
        //-    "src": "DU250-1400",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "250-1400"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "",
        //-    "caption": "Кран шаровой СП Ду15-150",
        //-    "type": "под приварку",
        //-    "src": "DU15-200",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "15-150"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "--tall",
        //-    "caption": "Кран шаровой СП Ду200-1400",
        //-    "type": "под приварку",
        //-    "src": "DU250-1400",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "250-1400"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "",
        //-    "caption": "Кран шаровой Ду200-1500",
        //-    "type": "резьбовой",
        //-    "src": "thread",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "thread-combined"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "",
        //-    "caption": "Кран шаровой Ду200-1500",
        //-    "type": "комбинированный",
        //-    "src": "combined",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "thread-combined"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "--stack",
        //-    "config": "stack",
        //-    "caption": "Кран шаровой Ду15-1400",
        //-    "type": "фланцевый",
        //-    "src": "flanged",
        //-    "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
        //-    "href": "flanged"
        //-  })
        //-+e.item
        //-  +product({
        //-    "class": "--tall",
        //-    "caption": "поворотный затвор типа Баттерфляй",
        //-    "type": "с эксцентриситетом",
        //-    "src": "BFV",
        //-    "desc": "Высоконадежный цельносварной поворотный затвор для теплоснабжения.",
        //-    "href": "bfv"
        //-  })

