mixin valves
  +b.SECTION.valves.section
    +e.container.container
      +breads({"location": "Шаровые краны"})
      +e.H2.title.title ШАРОВЫЕ КРАНЫ
      +e.UL.list
        +e.item
          +product({
            "class": "",
            "caption": "Кран шаровой ПП Ду15-200",
            "type": "под приварку",
            "src": "DU15-200",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "15-200"
          })
        +e.item
          +product({
            "class": "--tall",
            "caption": "Кран шаровой ПП Ду250-1400",
            "type": "под приварку",
            "src": "DU250-1400",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "250-1400"
          })
        +e.item
          +product({
            "class": "",
            "caption": "Кран шаровой СП Ду15-150",
            "type": "под приварку",
            "src": "DU15-200",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "15-150"
          })
        +e.item
          +product({
            "class": "--tall",
            "caption": "Кран шаровой СП Ду200-1400",
            "type": "под приварку",
            "src": "DU250-1400",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "250-1400"
          })
        +e.item
          +product({
            "class": "",
            "caption": "Кран шаровой Ду200-1500",
            "type": "резьбовой",
            "src": "thread",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "thread-combined"
          })
        +e.item
          +product({
            "class": "",
            "caption": "Кран шаровой Ду200-1500",
            "type": "комбинированный",
            "src": "combined",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "thread-combined"
          })
        +e.item
          +product({
            "class": "--stack",
            "config": "stack",
            "caption": "Кран шаровой Ду15-1400",
            "type": "фланцевый",
            "src": "flanged",
            "desc": "Высоконадежный цельносварной шаровой кран для теплоснабжения.",
            "href": "flanged"
          })
