body {
  &.isFixed {
    @include position(fixed, 0 0 0 0);
    overflow: hidden;
  }

  // 1280px
  @include minW($macbook-width) {
    &.isFixed {
      position: static;
      overflow: visible;
    }
  }
}

.app {
  overflow: hidden;
}

.section {
  min-height: 100vh;
  padding: em(50px) 0;
  text-align: center;

  p,
  ul {
    line-height: 1.75;
    // text-align: left;
  }

  &--bg {
    background-color: #f7f7f7;
  }

  // 768px
  @include minW($tablet-width) {
    min-height: em(500px);
    padding-top: em(70px);
    padding-bottom: em(70px);
  }

  // 1280px
  @include minW($macbook-width) {
    margin-left: em(250px);
    padding-top: em(40px);
    padding-bottom: em(40px);
  }

  // 1440px
  @include minW($laptop-lg-width) {
    padding-top: 10vh; //em(70px);
    padding-bottom: 10vh; //em(70px);
  }

  // 1900px
  @include minW($full-hd-width) {
    margin-left: em(350px);
  }
}

.container {
  max-width: em(1350px);
  margin: 0 auto;
  padding: 0 em($pad-mob);

  // 768px
  @include minW($tablet-width) {
    padding-left: em($pad-tab);
    padding-right: em($pad-tab);
  }

  // 1280px
  @include minW($macbook-width) {
    padding-left: em($pad-desk);
    padding-right: em($pad-desk);
  }

  // 1600px
  @include minW(1600px) {
    padding-left: em($pad-lg);
    padding-right: em($pad-lg);
  }
}

.title {
  display: inline-block;
  margin-bottom: em(15px);
  padding-bottom: em(5px);
  font-size: em(24px);
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid $color-decor-second;

  // 1280px
  @include minW($macbook-width) {
    font-size: em(36px);
  }
}
