.about {

  //== ITEM
  &__item {
    margin-top: em(5px);
    text-align: left;

    span {
      margin-left: em(5px);
    }
  }
  //== ITEM

  //== TEXT
  &__text {
    text-align: left;
  }
  //== TEXT

  //== LIST
  &__list {
    margin-bottom: em(20px);

    &--doted {
      margin-left: em(20px);
      list-style-type: disc;
    }
  }
  //== LIST

  //== SUBTITLE
  &__subtitle {
    text-align: left;
  }
  //== SUBTITLE
}
