.catalogs {

  //== LIST
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: em(1200px);
    margin: 0 auto;

    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(em(140px), 1fr));
      grid-gap: em(20px);
      max-width: em(900px);
    }
  }
  //== LIST

  //== ITEM
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: em(165px);
    margin: em(10px);
    padding: em(20px);
    border: 1px solid $color-decor-light;
    transition: all 0.4s $tfunc-main;

    @supports (grid-area: auto) {
      max-width: none;
      margin: 0;
    }

    // 1280px
    @include minW($macbook-width) {
      &:hover {
        border-color: $color-decor-second;
      }
    }
  }
  //== ITEM

  //== CAPTION
  &__caption {
    font-size: em(20px);
    font-weight: normal;
    line-height: 1.2;
  }
  //== CAPTION

  //== ICON
  &__icon {
    margin: em(10px) 0;
    fill: $color-decor-second;
  }
  //== ICON

  //== LINK
  &__link {
    color: $color-decor-second;
  }
  //== LINK
}
