.catalogs {

  //== LIST
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    max-width: em(1200px);
    margin: 0 auto;

    // @supports (grid-area: auto) {
    //   display: grid;
    //   grid-template-columns: repeat(auto-fill, minmax(em(160px), 1fr));
    //   grid-gap: em(20px);
    //   max-width: em(900px);
    // }
  }
  //== LIST

  //== ITEM
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 20px;
    // height: 100%;
    // max-width: em(200px);
    // margin: em(10px);
    padding: em(20px);
    border: 1px solid $color-decor-light;
    transition: all 0.4s $tfunc-main;

    // @supports (grid-area: auto) {
    //   max-width: none;
    //   margin: 0;
    // }

    // 1280px
    @include minW($macbook-width) {
      &:hover {
        border-color: $color-decor-second;
      }
    }

    @media screen and (max-width: 600px) {
      width: calc(50% - 20px);
      margin: 0 10px;
    }
  }
  //== ITEM

  //== CAPTION
  &__caption {
    font-size: em(20px);
    font-weight: normal;
    line-height: 1.2;
  }
  //== CAPTION

  //== ICON
  &__icon {
    margin: em(10px) 0;
    fill: $color-decor-second;
  }
  //== ICON

  //== LINK
  &__link {
    color: $color-decor-second;
  }
  //== LINK
}
