.contacts {

  //== ROW
  &__row {
    // 1280px
    @include minW($macbook-width) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  //== ROW

  //== COL
  &__col {
    margin-top: em(20px);

    // 1280px
    @include minW($macbook-width) {
      &:first-child {
        width: 30%;
        margin-left: em(30px);
      }

      &:last-child {
        width: 70%;
      }
    }
  }
  //== COL

  //== LOGO
  &__logo {
    margin: 0 auto;

    // 1280px
    @include minW($macbook-width) {
      margin: 0;
    }
  }
  //== LOGO

  //== LIST
  &__list {
    margin-top: em(15px);

    // 1280px
    @include minW($macbook-width) {
      text-align: left;
    }
  }
  //== LIST

  //== ITEM
  &__item {
    margin-top: em(10px);
  }
  //== ITEM

  //== LINK
  &__link {
    color: $color-decor-second;
  }
  //== LINK

  //== MAP
  &__map {
    height: 50vmax;

    img {
      max-height: none;
    }

    // 1280px
    @include minW($macbook-width) {
      height: 70vh;
    }
  }
  //== MAP
}
