.hero {
  position: relative;
  height: 100vh;
  padding: 0;

  //== HEADING
  //&__heading {
  //  @include position(absolute, em(80px) null null em($pad-mob));
  //  z-index: 1;
  //}
  //== HEADING

  //== SLOGAN
  //&__slogan {
  //  font-size: em(26px);
  //  text-transform: uppercase;
  //  color: $color-light;

  //  span {
  //    display: block;
  //  }
  //}
  //== SLOGAN

  //== SLIDE
  &__slide {
    @include size(100vw, 100vh);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 em(10px);
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    &::after {
      content: '';
      @include position(absolute, 0 0 0 0);

      z-index: 0;
      background-color: rgba($color-dark, 0.35);
    }

    // 1024px
    @include minW($ipad-width) {
      background-size: cover;
    }
  }
  //== SLIDE

  //== TITLE
  &__title {
    position: relative;
    z-index: 1;
    //font-size: 6vw;
    font-size: 7vw;
    //font-size: em(30px);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: $color-light;
    //text-shadow: 2px 2px 5px rgba($color-dark, 0.9);

    //&--lg {
    //  font-size: 8vw;
    //}

    // 1024px
    @include minW($ipad-width) {
      max-width: em(170px);
      font-size: em(80px);

      //&--lg {
      //  font-size: em(100px);
      //}
    }

    // 1280px
    //@include minW($macbook-width) {
    //  max-width: em(170px);
    //  //font-size: em(80px);
    //}
  }
  //== TITLE

  //== SUBTITLE
  &__subtitle {
    position: relative;
    z-index: 1;
    max-width: em(300px);
    margin-top: em(10px);
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    color: $color-light;
    line-height: 1.25;

    // 1024px
    @include minW($ipad-width) {
      font-size: em(40px);
    }
  }
  //== SUBTITLE

  //== GLIDE
  .glide {

    // 1280px
    @include minW($macbook-width) {
      width: calc(100% - #{em(250px)});
      margin-left: em(250px);
    }

    // 1900px
    @include minW($full-hd-width) {
      width: calc(100% - #{em(350px)});
      margin-left: em(350px);
    }

    //== ARROW
    &__arrow {
      position: absolute;
      top: 50%;
      @include size(em(40px), em(40px));
      transform: translate(0, -50%);

      &:focus {
        outline: none;
      }

      svg {
        @include size(100%, 100%);
        fill: $color-light;
        transition: fill 0.4s $tfunc-main;
      }

      &--right {
        right: em(-5px);

        svg {
          transform: rotateZ(180deg);
        }
      }

      &--left {
        left: em(-5px);
      }

      // 768px
      @include minW($tablet-width) {
        @include size(em(60px), em(60px));

        &--right {
          right: 0;
        }

        &--left {
          left: 0;
        }
      }

      // 1280px
      @include minW($macbook-width) {
        &:hover {
          svg {
            fill: $color-decor-main;
          }
        }
      }
    }
    //== ARROW

    //== BULLETS
    &__bullets {
      @include position(absolute, null null em(10px) 50%);

      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, 0);
    }
    //== BULLETS

    //== BULLET
    &__bullet {
      @include size(em(15px), em(15px));

      margin: em(8px);
      //border: 2px solid $color-decor-main;
      border-radius: 50%;
      background-color: $color-light;
      //background-color: rgba(0, 0, 0, 0);
      transition: all $tfunc-main 0.4s;

      &--active {
        background-color: $color-decor-main;
      }

      // 1280px
      //@include minW($macbook-width) {
      //  @include size(em(20px), em(20px));
      //}
    }
    //== BULLET
  }
  //== GLIDE
}
