.objects {

  //== LIST
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: em(-10px);

    @supports (grid-area: auto) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(em(240px), 1fr));
      grid-gap: em(20px);
      margin: 0;
    }
  }
  //== LIST

  //== ITEM
  &__item {
    max-width: em(270px);
    min-height: em(215px);
    margin: em(10px);

    @supports (grid-area: auto) {
      max-width: none;
      margin: 0;
    }
  }
  //== ITEM

  //== LINK
  &__link {
    display: block;
    @include size(100%, 100%);

    text-decoration: none;
    color: $color-text;
    border: 1px solid $color-decor-light;
    transition: all 0.4s $tfunc-main;

    // 1280px
    @include minW($macbook-width) {
      &:hover {
        border-color: $color-decor-second;
      }
    }
  }
  //== LINK

  //== CAPTION
  &__caption {
    padding: em(10px);
  }
  //== CAPTION
}
