.product {
  $self: &;

  height: 100%;
  padding: em(20px);
  border: 1px solid $color-decor-light;
  text-align: center;
  transition: all 0.4s $tfunc-main;

  &--tall {
    #{$self}__img {
      width: 60%;
      max-width: em(200px);
    }
  }

  &--stack {
    //#{$self}__wrap {
    //  flex-direction: column;
    //}

    #{$self}__img {
      width: 70%;
      max-width: em(210px);
      //margin-top: em(10px);
      //margin-bottom: em(5px);
    }
  }

  // 1280px
  @include minW($macbook-width) {
    &:hover {
      border-color: $color-decor-second;

      #{$self}__type {
        border-top-color: $color-decor-second;
        border-bottom-color: $color-decor-second;
      }
    }
  }

  //== WRAP
  &__wrap {
    display: flex;
    align-items: center;
    margin: em(20px) 0;
  }
  //== WRAP

  //== CAPTION
  &__caption {
    //width: em(145px);
    width: rem(215px);
    margin: 0 auto em(15px);
    font-size: em(20px);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
  }
  //== CAPTION

  //== TYPE
  &__type {
    display: inline-block;
    padding: em(3px) 0;
    border-top: 1px solid $color-decor-light;
    border-bottom: 1px solid $color-decor-light;
    font-weight: normal;
    transition: all .4s $tfunc-main;
  }
  //==TYPE

  //== IMG
  &__img {
    width: 90%;
    max-width: em(255px);
    margin: em(20px) auto;
  }
  //== IMG

  //== DESC
  &__desc {
    margin-bottom: 0.5em;
    text-align: left;
  }
  //== DESC

  //== LINK
  &__link {
    margin-top: em(10px);
    color: $color-decor-second;
  }
  //== LINK

  //== ANCHOR
  &__anchor {
    display: block;
    text-decoration: none;
    color: unset;
  }
  //== ANCHOR

  //== LIST
  &__list {
    text-align: left;

    &--dot {
      margin-left: em(20px);
      list-style-type: disc;
    }
  }
  //== LIST

  //== LIST-ITEM
  &__list-item {
    b {
      margin-right: em(10px);
    }
  }
  //== LIST-ITEM
}
