mixin about
  +b.SECTION.about#about
    +e.container.container
      +e.H2.title.title О БРЕНДЕ
      +e.P.text Дата учреждения компании : Август 1984 года
      +e.UL.list
        +e.item краны шаровые KMC для систем теплоснабжения;
        +e.item краны шаровые KMC для газовой отрасли;
        +e.item краны шаровые KMC для нефтеперерабатывающей и химической отрасли.
