mixin header
  +b.header
    +e.wrap
      +b.logo
      +e.NAV.nav
        +e.Ul.list
          +e.item: +e.A.link(href="#main") Главная
          +e.item: +e.A.link(href="#about") О бренде
          +e.item: +e.A.link(href="#products") Продукция
          +e.item: +e.A.link(href="#certificates") Сертификаты
          +e.item: +e.A.link(href="#catalogs") Каталоги
          +e.item: +e.A.link(href="#leftovers") Остатки на складе
          +e.item: +e.A.link(href="#objects") Объекты
          +e.item: +e.A.link(href="#contacts") Контакты
