extends ../_layouts/main

//- Don't forget that you can use block/append/prepend on blocks
//- Pass your variables through this block.
block variables

  - let title = 'Затворы дисковые';
  - let debug = false;

//- Debug links. Add some.
append debug_links
  //- a(href='http://google.com') google, for example

block header
  +header({"class": "", "config": ""})

block body
  main
    +b.SECTION.valves.section
      +e.container.container
        +b.breads
          +e.UL.list
            +e.item.--prev: +e.A.link(href="index.html#production") Главная
            +e.item.--current: +e.A.link(href="#") Затворы дисковые

        +e.H2.title.title.--inner Затворы дисковые
        +e.UL.list.equal-list

          +b.product(class="")
            +e.H3.caption Поворотный затвор типа &laquo;баттерфляй&raquo;
            +e.H4.type С эксцентриситетом
            +e.wrap.equal-wrap
              +e.IMG.img(src="assets/img/products/BFV.png", alt="Поворотный затвор типа Баттерфляй")
            +e.P.desc Дископоворотные затворы компании KMC производства Южной Кореи достаточно широко применяются в системах нефтехимии, теплоэнергетики, пищевой промышленности и других сферах. По виду уплотнений затворы делятся на:
            +e.UL.list.--dot
              +e.list-item с мягким уплотнением (EPDM);
              +e.list-item с жестким уплотнением (VITON, FRP и др.);
              +e.list-item с уплотнением метал/метал (Inconel);
              +e.list-item со специальным уплотнением;
            +e.P.desc Применение того или иного типа уплотнения зависит от конкретных условий эксплуатации. Например, для воды, пара температурой до + 260 С применяется уплотнение метал/метал (Inconel 625), для систем водоканалов с номинальным давлением рабочей среды до Ру 16 применяется мягкое и жесткое уплотнение (EPDM, VITON и др.).
            +e.P.desc По виду присоединения к трубопроводу затворы различают на следующие типы:
            +e.UL.list.--dot
              +e.list-item под приварку (сварка/сварка);
              +e.list-item фланцевые (фланец/фланец);
              +e.list-item межфланцевые ;
              +e.list-item с комбинированным присоединением (фланец/сварка и др.);
            +e.A.link(href="assets/docs/bfv.pdf", target="_blank", rel="noopener noreferrer") Характеристики

block footer

//- Use block/append/prepend 'scripts' to override/add scripts
