extends ../_layouts/main

//- Don't forget that you can use block/append/prepend on blocks
//- Pass your variables through this block.
block variables

  - let title = 'KMC Corporation';
  - let debug = false;

//- Debug links. Add some.
append debug_links
  //- a(href='http://google.com') google, for example

block header
  +header({"class": "--main", "config": "main"})

block body
  main
    +hero()
    +about()
    +production()
    +certificates()
    +catalogs()
    +leftovers()
    +objects()
    +contacts()

block footer

//- Use block/append/prepend 'scripts' to override/add scripts
