block scripts
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNlBvo4iwNwENMDLv7R692NTXgEXM_a2I&callback=initMap")
  script(src="assets/js/0.app.js")
  script(src="assets/js/app.js")
